@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: rgb(210 63 87);

    --bg-light-gray: #f6f9fc;
    --sidebar-background: #2b3445;
  }

  a.active {
    @apply rounded bg-gray-100 bg-opacity-5;
  }
}
